* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .wrapper {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
  
  .sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .my-photo {
    width: 370px;
  }
  
  .about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  
  .contacts-container {
    margin-left: 40px;
    margin-top: 60px;
    margin-right: 40px;
    color: #f5f7fa;
  }
  
  .contact-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }
  
  .contacts-container-link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;
  }
  
  .contact-link {
    color: #8e949c;
  }
  
  .tach-skills-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .tech-skills-container {
    margin-left: 40px;
    margin-top: 55px;
    margin-right: 40px;
  }
  
  .tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
  }
  
  .tech-skills-text {
    color: #b1b4ba;
  }
  
  .soft-skills-container {
    margin-left: 40px;
    margin-top: 55px;
    margin-right: 40px;
  }
  
  .soft-skills-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
  }
  
  .soft-skills-text {
    color: #b1b4ba;
  }
  
  .profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  .name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .info-container {
    margin-bottom: 65px;
  }
  
  .about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  .projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .dots {
    color: #a8a8a8;
    font-weight: 100;
  }
  
  .project-item {
    font-weight: 700;
    margin-left: 17px;
  }
  
  .projects-container {
    margin-bottom: 55px;
  }
  
  .profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .prof-company {
    color: #ff6b08;
  }
  
  .prof-period {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
  }
  
  .prof-devider {
    color: #000;
  }
  
  .prof-list {
    margin-top: 14px;
    margin-bottom: 30px;
  }
  
  .prof-duties {
    font-size: 14px;
    color: #595959;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .university-title {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
  }
  
  .spec-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .education-period {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
  }
  